# ======================================================================
# Title:            Particle Scattering Image Generator - Input File
# Author:           Aldo Gargiulo
# Last Modified:    07/02/2025
# ======================================================================


# [INCIDENT LIGHT SOURCE]
# ----------------------------------------------------------------------
is_polarized                    = true 
polarization                    = [[0, 0], [1, 0], [0, 0]]
wavelength_nm                   = 532.0
pulse_energy_mj                 = 1.3e-03 
pulse_width_ns                  = 29.0e-03
beam_diameter_mm                = 10.0


# [PARTICLES]
# -----------------------------------------------------------
particles_definition_file       = ../resources/particles.dat


# [CAMERA]
# -----------------------------------------------------------
camera_center_position_m        = [1.5, 0, 0]
camera_sensor_normal_vector     = [-1, 0, 0]
sensor_width_mm                 = 35.8
sensor_height_mm                = 22.4
focal_length_mm                 = 300.0
camera_resolution_x_px          = 1280
camera_resolution_y_px          = 800
